<%- include('../layout/header.ejs') %>
    <%- include('../layout/after-login.ejs') %>
        <!-- Start Banner Area -->
        <section class="banner-area organic-breadcrumb">

        </section>
        <!-- End Banner Area -->

        <div class="container-fluid">

        </div>
        <!--================Cart Area =================-->
        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>Produt</th>
                                <th>Name</th>
                                <th>price</th>
                                <th>quantity</th>
                                <th>total</th>
                            </thead>
                            <tbody>
                                <% let totalPrice=0 %>
                                    <% cartdata.cart.forEach((element,index)=> { %>
                                        <tr>
                                            <td>
                                                <div class="col-md-3 col">
                                                    <img class="img-fluid" height="200px"
                                                        src="/ProductImages/<%= element.product.image[0] %>" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <p>
                                                        <%= element.product.name %>

                                                    </p>
                                                </div>
                                            </td>
                                            <td>
                                                <h5>$<%= element.product.price %>
                                                </h5>
                                            </td>
                                            <td>
                                                <div class="product_count">
                                                    <input type="text" name="qty" id="pdt_count" maxlength="12"
                                                        value="<%= element.quantity %>" title="Quantity:"
                                                        class="input-text qty">



                                                    <a href="/add-cart/<%= element.product._id %>">
                                                        <button class="increase items-count" type="button"><i
                                                                class="lnr lnr-chevron-up"></i></button>
                                                    </a>
                                                    <a href="/remove-cart/<%= element.product._id %>">
                                                        <button class="reduced items-count" type="button"><i
                                                                class="lnr lnr-chevron-down"></i></button>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <% let pdt_total_Price=0 %>
                                                    <h5>$ <%= pdt_total_Price=element.quantity* element.product.price %>
                                                    </h5>
                                                    <% totalPrice +=pdt_total_Price %>
                                            </td>
                                        </tr>
                                        <% }) %>

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Total Price</td>
                                                <td>
                                                    <%= totalPrice %>
                                                </td>
                                            </tr>

                            </tbody>
                        </table>
                        <a class="primary-btn" href="/checkout">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </section>

        <!--================End Cart Area =================-->
        <script>
            let tot_money = document.getElementById('totalmoney')
            tot_money.value = 0

        </script>

        <%- include('../layout/footer.ejs') %>