<%- include('../layout/header.ejs') %>
    <%- include('../layout/after-login') %>

        <head>
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
                id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->
            <style>
                .invisible {
                    display: none;
                }
            </style>
        </head>
        <div class="container wrapper">

            <div class="row cart-body">
                <form class="form-horizontal" method="post" action="/post-order">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                        <!--REVIEW ORDER-->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Review Order <div class="pull-right"><small><a class="afix-1" href="/view-cart">Edit
                                            Cart</a></small></div>
                            </div>
                            <div class="panel-body">
                                <!-- cart product  starting -->
                                <% let totalPrice=0 %>
                                    <% users.cart.forEach((element)=> { %>

                                        <div class="form-group">
                                            <div class="col-sm-3 col-xs-3">
                                                <img class="img-responsive"
                                                    src="/ProductImages/<%= element.product.image[0] %>" />
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <div class="col-xs-12">
                                                    <%= element.product.name %>
                                                </div>
                                                <div class="col-xs-12"><small>Quantity:<span>
                                                            <%= element.quantity %>
                                                        </span></small></div>
                                                <input type="text">
                                            </div>
                                            <% let pdt_total_Price=0 %>
                                                <div class="col-sm-3 col-xs-3 text-right">
                                                    <h6><span>$</span>
                                                        <%= pdt_total_Price=element.quantity* element.product.price %>
                                                    </h6>
                                                    <% totalPrice +=pdt_total_Price %>
                                                </div>
                                        </div>
                                        <% }) %>

                                            <!-- cart product ending -->
                                            <div class="form-group">
                                                <hr />
                                            </div>

                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <strong>Subtotal</strong>
                                                    <div class="pull-right"><span>$</span><span>
                                                            <%= totalPrice %>
                                                        </span></div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <small>Shipping</small>
                                                    <div class="pull-right">$<span>50</span></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <hr />
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <strong>Order Total</strong>
                                                    <input type="number" style="display: none;" name="totalprice"
                                                        value="<%= totalPrice+50 %>">
                                                    <div class="pull-right"><span>$</span><span>
                                                            <%= totalPrice+50 %>
                                                        </span></div>
                                                </div>
                                            </div>
                            </div>
                        </div>
                        <!--REVIEW ORDER END-->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                        <!--SHIPPING METHOD-->
                        <div class="panel panel-info">
                            <div class="panel-heading">Address</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h4>Shipping Address</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <strong> Name:</strong>
                                        <input type="text" name="name" class="form-control" value="<%= users.name %>" />
                                    </div>
                                    <div class="span1"></div>
                                </div>

                                <% if (users.address.length> 0) { %>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Address:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="house" class="form-control"
                                                value="<%= users.address[0].house %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>City:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="city" class="form-control"
                                                value="<%= users.address[0].city %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>District:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="district" class="form-control"
                                                value="<%= users.address[0].district %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="post" class="form-control"
                                                value="<%= users.address[0].post%>" />
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>Address:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="house" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>City:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="city" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>District:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="district" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="post" class="form-control" />
                                            </div>
                                        </div>
                                        <% } %>
                                            <div class="form-group">
                                                <div class="col-md-12"><strong>Phone Number:</strong></div>
                                                <div class="col-md-12"><input type="text" name="mobile"
                                                        class="form-control" value="<%= users.mobile %>" /></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12"><strong>Email Address:</strong></div>
                                                <div class="col-md-12"><input type="text" name="email"
                                                        class="form-control" value="<%= users.email %>" /></div>
                                            </div>
                            </div>
                        </div>
                        <!--SHIPPING METHOD END-->
                        <!--CREDIT CART PAYMENT-->
                        <div class="panel panel-info">
                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Payement
                                Method</div>
                            <div class="panel-body">
                                <div class="form-group">

                                    <input type="radio" onclick="hide()" class="col-1" name="payement"
                                        value="Cash On Delivery" required>
                                    <strong class="col-5">Cash On Delivery</strong>
                                </div>
                                <div class="form-group  ">
                                    <input type="radio" name="payement" onclick="display()" class="col-1"
                                        value="Online Payement" required>
                                    <strong class="col-5">Online Payement</strong>
                                </div>
                                <div class="form-group" id="ok" style="display: none;">
                                    <div class="col-md-12"><strong>Credit Card Number:</strong></div>
                                    <div class=" col-md-12">
                                        <input type=" text" class="form-control" name="car_number" value="" id="inputdetails" />
                                    </div>
                                </div>
                                <div class="form-group" id="ok" style="display: none;">
                                    <div class="col-md-12"><strong>Card CVV:</strong></div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="car_code" value=""  id="inputdetails"/>
                                    </div>
                                </div>
                                <div class="form-group" id="ok">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-submit-fix">Place
                                            Order</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--CREDIT CART PAYMENT END-->
                    </div>
                </form>
            </div>
            <script>
                const inpuElement = document.getElementById('inputdetails')
                const myElement = document.getElementById(`ok`);
                function display() {
                    myElement.style.display = ""
                    inpuElement.setAttribute('required', '');
                }
                function hide() {
                    myElement.style.display = "none"
                    inpuElement.removeAttribute("required");
                }
            </script>
        </div>

        <%- include('../layout/footer.ejs') %>