<%- include('../layout/header.ejs') %>
    <%- include('../layout/after-login.ejs') %>
        <!-- Start Banner Area -->

        <section class="banner-area organic-breadcrumb">

        </section>
        <!-- End Banner Area -->

        <div class="container-fluid">

        </div>
        <!--================Cart Area =================-->
        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>Produt</th>
                                <th>Name</th>
                                <th>price</th>
                                <th>quantity</th>
                                <th>total</th>
                            </thead>
                            <tbody>
                                <% let totalPrice=0 %>
                                    <% cartdata.cart.forEach((element,index)=> { %>
                                        <tr>
                                            <td>
                                                <div class="col-md-3 col">
                                                    <img class="img-fluid" height="200px"
                                                        src="/ProductImages/<%= element.product.image[0] %>" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <p>
                                                        <%= element.product.name %>

                                                    </p>
                                                </div>
                                            </td>
                                            <td>
                                                <h5>$<%= element.product.price %>
                                                </h5>
                                            </td>
                                            <td>
                                                <div class="product_count">
                                                    <input type="text" name="qty" id="pdt_count" maxlength="12"
                                                        value="<%= element.quantity %>" title="Quantity:"
                                                        class="input-text qty">

                                                    <input type="text" id="productId" style="display: none;"
                                                        value="<%= element.product._id %>">

                                                    <button class="increase items-count" type="button" id="increment"><i
                                                            class="lnr lnr-chevron-up"></i></button>

                                                    
                                                        <button class="reduced items-count" type="button" id="decrement"><i
                                                                class="lnr lnr-chevron-down"></i></button>
                                                </div>
                                            </td>
                                            <td>
                                                <% let pdt_total_Price=0 %>
                                                    <h5>$ <%= pdt_total_Price=element.quantity* element.product.price %>
                                                    </h5>
                                                    <% totalPrice +=pdt_total_Price %>
                                            </td>
                                        </tr>
                                        <% }) %>

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Total Price</td>
                                                <td>
                                                    <%= totalPrice %>
                                                </td>
                                            </tr>

                            </tbody>
                        </table>
                        <a class="primary-btn" href="/checkout">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </section>

        <!--================End Cart Area =================-->

        <script>
            let product = document.getElementById('productId')
            let count = document.getElementById('pdt_count')
            console.log(product.value)

            $('#increment').click(function () {
                let pdt_id = product.value
                $.ajax({
                    url: `/add-cart`,
                    method: 'POST',
                    data: {
                        pdt_id: pdt_id
                    },
                    encoded: true,
                    success: function (response) {
                        if (response.status) {
                            let count = parseInt(document.getElementById('pdt_count').value)
                            document.getElementById('pdt_count').value = count+1
                        }
                    }

                });
            });
            $('#decrement').click(function () {
                let pdt_id = product.value
                $.ajax({
                    url: `/remove-cart`,
                    method: 'POST',
                    data: {
                        pdt_id: pdt_id
                    },
                    encoded: true,
                    success: function (response) {
                        if (response.status) {
                            
                            let count = parseInt(document.getElementById('pdt_count').value)
                            document.getElementById('pdt_count').value = count-1

                        }
                    }

                });
            });


        </script>

        <%- include('../layout/footer.ejs') %>
            <!-- $.ajax({
            url: "/add-cart",
            method: 'POST',
            data: {pdt_id: pdt_id},
            encoded: true,
            success: function (response) {
                if (data.success) {
                    window.location.reload()
                }
            }

        }); -->