<%- include('../layout/header.ejs') %>

        <!--================Login Box Area =================-->
        <section class="login_box_area section_gap">
            <button class="btn btn-primary m-5" style="position: absolute; top:2%;" onclick="goBack()">back</button>
            <div class="container">
                
                <div class="row">
                   
                    <div class="col-lg-6">
                        <div class="login_form_inner">
                            <form class="row login_form" action="/profile" method="post"
                                onsubmit="return validateform()">
                                <% if (alertMessage) { %>
                                    <div class="alert alert-success" role="alert">
                                        <%= alertMessage %>
                                    </div>
                                    <% } %>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" name="name" value="<%= user.name %>" placeholder="Username" required>
                                </div>

                                <div class="col-md-12 form-group">
                                    <input type="email" class="form-control" name="email" value="<%= user.email %>" placeholder="Email" required>
                                </div>

                                <div class="col-md-12 form-group">
                                    <input type="tel" class="form-control" minlength="10" value="<%= user.mobile %>" maxlength="10" name="mobile"
                                        placeholder="Phone" required>
                                </div>

                                
                                <div class="col-md-12 form-group">
                                    <input type="submit" class="primary-btn" value="Save Update">
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Login Box Area =================-->
        <script>
            function validateform() {
                var mailFormat = /\S+@\S+\.\S+/;
                if (inputText.value.match(mailFormat)) {
                    alert("Valid address!");
                    return true;
                } else {
                    alert("Invalid address!");  
                    return false;
                }
            }
            function goBack() {
            window.history.go(-1);
        }
        </script>
        <%- include('../layout/footer.ejs') %>