
<%- include('../layout/header.ejs') %>
    <%- include('../layout/after-login.ejs') %>
<section class="banner-area organic-breadcrumb">
    <div class="container">
    </div>
</section>
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="">
                    <h6>Address</h6>
                    <hr>
                    <% userdata.address.forEach((element,index)=> { %>
                        <label><%= index+1 %></label><br>
                        <label for="">house : <%= element.house %></label><br>
                        <label for="">City : <%= element.city %></label><br>
                        <label for="">district : <%= element.district %></label><br>
                        <label for="">state : <%= element.state %></label><br>
                        <label for="">Post : <%= element.post %></label><br>
                        <a href="/delete-address/<%= element._id %>"><button class="btn btn-primary">remove</button></a>
                        <hr>
                        <% }) %>
                        <a href="/add-address"><button class="btn btn-primary">Add address</button></a>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>

<%- include('../layout/footer.ejs') %>
