<%- include('../layout/header.ejs') %>
  <%- include('../layout/after-login.ejs') %>

    <!--================Order Details Area =================-->
    <section class="order_details section_gap">
      <div class="container mt-5">
        <h3 class="title_confirmation" style="color: rgb(120, 235, 32);">Thank you. Your order has been received.</h3>
        <div class="row order_d_inner">
          <div class="col-lg-3 col-md-12">
            <style>
              .styling {
                background-color: rgb(87, 87, 87);
                border-radius: 10px;
                padding: 20px;
              }
            </style>
            <div class="details_item mt-5 styling">
              <h4>Order Info</h4>
              <ul class="list">
                <li><a href="#"><span>Order number</span> : <%= orderDetails._id %></a></li>
                <li><a href="#"><span>Date</span> : <%= orderDetails.orderdate %></a></li>
                <li><a href="#"><span>Total</span> : $<%= orderDetails.totalprice %></a></li>
                <li><a href="#"><span>Payment method</span> : <%= orderDetails.payement %></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="details_item mt-5 styling">
              <h4>Billing Address</h4>
              <ul class="list">
                <li><a href="#"><span>Name</span> : <%= orderDetails.orderaddress.name %></a></li>
                <li><a href="#"><span>House</span> : <%= orderDetails.orderaddress.house %></a></li>
                <li><a href="#"><span>City</span> : <%= orderDetails.orderaddress.city %></a></li>
                <li><a href="#"><span>District</span> : <%= orderDetails.orderaddress.district %></a></li>
                <li><a href="#"><span>Postcode </span> : <%= orderDetails.orderaddress.post %></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="details_item mt-5 styling">
              <h4>Shipping Address</h4>
              <ul class="list">
                <li><a href="#"><span>Name</span> : <%= orderDetails.orderaddress.name %></a></li>
                <li><a href="#"><span>House</span> : <%= orderDetails.orderaddress.house %></a></li>
                <li><a href="#"><span>City</span> : <%= orderDetails.orderaddress.city %></a></li>
                <li><a href="#"><span>District</span> : <%= orderDetails.orderaddress.district %></a></li>
                <li><a href="#"><span>Postcode </span> : <%= orderDetails.orderaddress.post %></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="order_details_table">
          <h2>Order Details</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>

                <% let totalPrice=0 %>
                  <% orderDetails.products.forEach((element)=> { %>
                    <tr>
                      <td>
                        <img src="/ProductImages/<%= element.product.image[0] %>" width="35px" alt="">
                      </td>
                      <td>
                        <p>
                          <%= element.product.name %>
                        </p>
                      </td>
                      <td>
                        <h5>x <%= element.quantity %>
                        </h5>
                      </td>
                      <td>
                        <p>$<%= element.quantity*element.product.price %>
                        </p>
                        <% totalPrice +=element.quantity*element.product.price %>
                      </td>
                    </tr>
                    <% }) %>

                      <tr>
                        <td>
                          <h4>Subtotal</h4>
                        </td>
                        <td>
                          <h5></h5>
                        </td>
                        <td>
                          <p><%= "$"+totalPrice %>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4>Shipping</h4>
                        </td>
                        <td>
                          <h5></h5>
                        </td>
                        <td>
                          <p>Flat rate: $50.00</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4>Total</h4>
                        </td>
                        <td>
                          <h5></h5>
                        </td>
                        <td>
                          <p><%= "$"+(totalPrice+50) %></p>
                        </td>
                      </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <%- include('../layout/footer.ejs') %>